
/* Global Stylying */
body {
    font-family: AkkuratStd, sans-serif;
    color: #686868;
    text-align: center;
    font-size: 1.0625rem;
}

h1 {
  line-spacing: 1.6;
  font-weight: lighter;
  font-size: 54px;
  text-align:center;
}

h2 {
  font-weight: bolder;
  font-size: 1.675rem;
  text-align:center;
}

h3 {
  font-weight: bolder;
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  line-height: 1.08;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

/*Content Styling*/

.wrapper {
  background: url(../assets/flower.png) right 5% no-repeat;
  background-color: rgba(247, 247, 247, 0.5);
  background-size: 23%;
  padding-left: 23px;
  padding-right: 23px;
  overflow: hidden;
  max-width: 1236px;
  margin-left: auto;
  margin-right: auto;
}

.headline-narrow {
  max-width: 880px;
  margin: 6rem auto 0 auto;
  padding-bottom: 3.5rem;
}


/*Grid Content Styling*/
.item-description{
  line-height: 23px;
  position: relative;
  margin-top: 10px;
  text-align: center;
  /*padding: 0 1rem 10px 1rem;*/
}

.item-description--narow{
  max-width: 10px;
}

.item-wrapper{
  padding-bottom: 30px;
}

/*Buttons & Links*/

.btn-blue {
  background-color: rgb(131, 173, 217);
  color: #FFF;
  text-decoration: none;
  padding: .5rem 1.5rem .5rem 1.5rem;
  display: inline-block;
  margin: 1.2rem 0 3.5rem 0;
  font-weight: bolder;
  font-size: .8rem;
  text-align: center;
  border-radius: .2rem;
}

.section-links{
  text-decoration: none;
  color: #009991;
  line-spacing: 1.39;
  font-weight: bold;
  font-size: 0.8125rem;
  text-align: center;
  letter-spacing: .1rem;
  display: block;
  padding: 1rem 1rem 0 1rem;
}

/*Grid Styling*/

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0 10rem 0 10rem;
}

.grid-item{
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(232, 232, 232);
  border-width: .125rem;
  padding: 0 2.1875rem 0 2.1875rem;
}

.grid-section-item{
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: rgb(232, 232, 232);
  border-width: .125rem;
  margin: 0 10rem 1rem 10rem;
}

/*Icon Styling*/

.help-icon{
  margin-top: 2rem;
}
.grid-icon {
  margin: 1.875rem 0 .2rem 0;
}

/*Subheader*/
.subheader{
  text-align: center;
  padding-top: .625rem;
  padding-bottom: .625rem;
  font-weight: lighter;
  font-size: 1.25rem;
}

/*Footer Styling */
.footer {
  background-color: rgb(43, 43, 43);
  margin-top: auto;
  height: 4.375rem;
}

.greenhouse-logo{
  height: 70px;
  float: left;
}

.social-media-wrapper{
  padding-top: 25px;
  float: right;
  padding-right: 50px;
}

.logo{
  height: 20px;
  width: 20px;
  margin-left: 20px;
}
